<!-- Footer -->
            <footer>
            		<div class="container clearfix">

            			<div class="col">
            				<h4 class="text-uppercase">Location</h4>
            				<p>
            					Merkez Kampüs : Eskişehir Yolu 29. Km, Yukarıyurtçu Mahallesi Mimar Sinan Caddesi No:4 06790, Etimesgut/ANKARA <br> Tel: 0 312 233 10 00
            				</p>
            			</div>
            			<div class="col">
            				<h4 class="text-uppercase">Around the web</h4>
            				<ul>

            					<li>
            						<button class="btn btn-outline btn-social">
            							<i class="fab fa-fw fa-facebook-f"></i>
            						</button>
            					</li>
            					<li>
            						<button class="btn btn-outline btn-social">
            							<i class="fab fa-fw fa-google-plus-g"></i>
            						</button>
            					</li>

            					<li>
            						<button class="btn btn-outline btn-social">
            							<i class="fab fa-fw fa-twitter"></i>
            						</button>
            					</li>

            					<li>
            						<button class="btn btn-outline btn-social">
            							<i class="fab fa-fw fa-linkedin-in"></i>
            						</button>
            					</li>
            					<li>
            						<button class="btn btn-outline btn-social">
            							<i class="fab fa-fw fa-dribbble"></i>
            						</button>
            					</li>



            				</ul>
            			</div>
            			<div class="col">
            				<h4 class="text-uppercase">About WADAV</h4>
            				<p>
            					Interactive Web based Data Analysis and Visualization System
            				</p>
            			</div>

            		</div>
            	</footer>
